@import url("pygment.css");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Alegreya Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120%;
  color: #333;
  background-color: #f2f2f2;
}

.sc {
  font-family: "Alegreya Sans SC", Arial, sans-serif;
  /*font-variant-caps: small-caps;*/
  font-size: 120%;
}

/* Color scheme:
 dark tones:  #50302c, #50422c, #4c502c
 not as dark: #b58078, #b59e78, #aeb578
 medium:      #c39791, #c3b091, #bdc391
 light:       #d1afaa, #d1c2aa, #cdd1aa

 Complementary of #50422c: #2c3a50
 Split complementary:      #2c4c50 and #302c50
 Triadic:                  #2c5042 and #422c50

 Complementary of #d1c2aa: #aab9d1
 Split complementary:      #aacdd1 and #afaad1
 Triadic:                  #aad1c2 and #c2aad1 

 Half desaturated of #c3b091: #b7ad9d
 Half desaturated of #50422c: #474035. Lighter: #675b49
*/

a {
  color: #2c4c50;
  text-decoration: none;
}

/* Sign post the external links. Requires the 'linkclass' plugin */
a.external:before {
  content: url('../images/icons/external-link.png');
  margin-right: 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
  color: #4c502c;
  font-family: "Ruda", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* responsive right-sidebar element */
  /* overflow: hidden */
}

#container > * {
  width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #container > * {
    width: auto;
    margin: 0 1.2em;
  }
}

.right-sidebar {
    /*border-top: 1px solid #d5cece;*/
    padding: 1rem;
}

#container header {
  margin-bottom: 1em;
}

#container header h1 {
  font-size: 2.8rem;
}

#container header h1 a {
  color: #4c502c;
  font-size: 2.8rem;
}

#container header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

#container header ul li {
  margin-left: 1em;
}

#container header ul li a,
#container nav ul li a {
  color: #928888; /*#675b49;*/
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: none;
  }

  #container header ul li {
    margin: 0 1em 0 0;
  }
}

#container nav {
  border-bottom: solid 3px #d5cece;
  padding-bottom: 0.5em;
  font-family: "Ruda", sans-serif;
  flex-wrap: wrap;
}

#container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#container nav ul li {
  float: right;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 1em;
  align-items: end;
}

@media all and (max-width: 800px) {
    #container nav ul {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    #container nav ul li {
      flex-basis: 50%;
    }
}

@media all and (max-width: 300px) {
    #container nav ul {
      justify-content: flex-start;
    }
    #container nav ul li {
      flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .right-sidebar {
        position: relative;
        float: right;
    }
}


#container nav ul li a.active {
  color: #50422c;
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
}

#container main section#home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#home ul li {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

#container main section#home ul li h2 {
  margin: 0.2em 0;
}

#container main section#home span {
  color: #666666;
}

#container body p {
    text-align: justify;
}

#container p a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

#container main section#list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#list ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  border-bottom: 1px solid #cecece;
}

#container main section#list ul li time,
#container main section#list ul li span.count {
  float: right;
  white-space: nowrap;
}

#container main section#list ul li:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 800px) {
  #container main section#list ul li {
    font-size: small;
  }
}

#container main section.post-nav {
  margin: 0.5em 0;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f7f7f7;
  font-size: 0.9em;
}
#left-page {
  text-align: left;
  font-weight: bold;
}
#right-page {
  text-align: right;
  font-weight: bold;
}
#left-arrow {
  float: left;
  padding-right: 5px;
}

#right-arrow {
  float: right;
  padding-left: 5px;
}

#container main article pre,
#container main section pre {
  background-color: #f5f5f5;
  overflow-x: auto;
  padding: 0.8em 0.1em 0.8em 0.8em;
  font-size: 0.8em;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main article pre code,
#container main section pre code {
  font-size: 1em;
}

#container main article p code,
#container main section p code {
  padding: 0.2em;
  background-color: #efeff6; /*#f5f5f5;*/
  font-size: 0.8em;
}

#container main article p kbd,
#container main section p kbd {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  line-height: 1em;
  color: #555555;
  vertical-align: middle;
  background-color: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc #cccccc #bbbbbb;
  border-image: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main h1 {
  margin-bottom: 1rem;
}

#container footer {
  border-top: solid 1px #d5cece;
}

#container footer h6 {
  font-size: 0.8em;
  font-weight: 100;
}

.meta-aside,
#container main section#home ul li aside,
#container main article aside {
  margin: 0.5em 0;
  font-family: "Ruda", sans-serif;
  color: #909090;
  font-size: 0.8em;
}

.meta-aside ul,
#container main section#home ul li aside ul,
#container main article aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.meta-aside ul li,
#container main section#home ul li aside ul li,
#container main article aside ul li {
  margin: 0;
  padding: 0;
}

.image,
figure img,
img {
  width: 100%;
}

.full-image,
figure.full img,
img[src*="full"] {
  width: 100%;
}

@supports (width: 100vw) {
  .full-image,
  figure.full img,
  img[src*="full"] {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.mid-image,
figure.mid img,
img[src*="mid"] {
  width: 100%;
}

@supports (width: 100vw) {
  .mid-image,
  figure.mid img,
  img[src*="mid"] {
    width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;
  }

  @media only screen and (max-width: 800px) {
    .mid-image,
    figure.mid img,
    img[src*="mid"] {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

.float-image-left,
figure.float-left img,
img[src*="float-left"] {
  width: 300px;
  float: left;
  margin: 0 1em 1em -3em;
}

@media only screen and (max-width: 800px) {
  .float-image-left,
  figure.float-left img,
  img[src*="float-left"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.float-image-right,
figure.float-right img,
img[src*="float-right"] {
  width: 300px;
  float: right;
  margin: 0 -3em 1em 1em;
}

@media only screen and (max-width: 800px) {
  .float-image-right,
  figure.float-right img,
  img[src*="float-right"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

figure {
  margin: 0;
}

figure figcaption p {
  margin-top: 0.3em;
  font-size: 0.8em;
  font-style: italic;
}

figure.full {
  margin: 0;
}

figure.mid {
  margin: 0;
}

figure.float-left {
  margin: 0;
  float: left;
}

figure.float-right {
  margin: 0;
  float: right;
}

figure.float-right figcaption {
  margin-left: 1em;
}

table {
  width: 100%;
}

table thead {
  background-color: #cecece;
}

blockquote {
  margin: 1em;
  border-left: solid 0.1em #cecece;
  padding: 0.5em 2em;
  position: relative;
  background-color: #efefef;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

@media only screen and (max-width: 800px) {
  blockquote {
    margin: 1em 0;
    padding: 0.5em;
  }
}

dl dd {
  font-style: italic;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 0 0.5em;
}

@media only screen and (max-width: 800px) {
  ul.pagination li {
    padding: 0 0.3em;
  }
}

ul.pagination li.active {
  font-weight: bold;
}

/* dark theme setup based on user preference, no javascript needed */
@media (prefers-color-scheme: dark) {
    body {
      color:       #eee;
      background-color: #020202;
    }

    a {
      color: #aab9d1;
    }

    h1, h2, h3, h4, h5, h6, time {
      color: #aeb578;
    }

    #container header h1 a {
      color: #aeb578;
    }

    #container header ul li a,
    #container nav ul li a {
      color: #b0aba0;
    }

    #container nav {
      border-color: #2f2c22;
    }

    #container nav ul li a.active {
      border-color: #aaa;
    }

    #container main section#home span {
      color: #aaa;
    }

    #container main section#list ul li {
      border-color: #222;
    }

    #container main article pre,
    #container main section pre {
      background-color: #1a1a1a;
      box-shadow: 0 -1px 0 #333 inset;
    }

    #container main article p code,
    #container main section p code {
      background-color: #181627/*#201d35*/;
    }

    #container main article p kbd,
    #container main section p kbd {
      color: #aaa;
      background-color: #1a1a1a;
      border-color: #222 #222 #111;
      box-shadow: 0 -1px 0 #444 inset;
    }

    #container footer {
      border-color: #222;
    }

    .right-sidebar {
      border-color: #222;
    }

    .right-sidebar input {
      border-color: hsl(0, 0%, 36%);
      background-color: hsl(0, 0%, 22%);
      color: white;
    }

    .meta-aside,
    #container main section#home ul li aside,
    #container main article aside {
      color: #666;
    }

    table thead {
      background-color: #222;
    }

    blockquote {
      border-left: solid 0.1em #222;
      background-color: #1a1a1a;
      box-shadow: 0 -1px 0 #333 inset;
    }
}

/* dark theming that requires the class "dark", toggled by javascript */

body.dark {
  color:       #eee;
  background-color: #020202;
}

.dark a {
  color: #aab9d1;
}

.dark h1, h2, h3, h4, h5, h6, time {
  color: #aeb578;
}

.dark #container header h1 a {
  color: #aeb578;
}

.dark #container nav {
  border-color: #2f2c22;
}

.dark #container header ul li a,
.dark #container nav ul li a {
  color: #b0aba0; /*#675b49;*/
}

.dark #container nav ul li a.active {
  border-color: #aaa;
}

.dark #container main section#home span {
  color: #aaa;
}

.dark #container main section#list ul li {
  border-color: #222;
}

.dark #container main article pre,
.dark #container main section pre {
  background-color: #1a1a1a;
  box-shadow: 0 -1px 0 #333 inset;
}

.dark #container main article p code,
.dark #container main section p code {
  background-color: #181627/*#201d35*/;
}

.dark #container main article p kbd,
.dark #container main section p kbd {
  color: #aaa;
  background-color: #1a1a1a;
  border-color: #222 #222 #111;
  box-shadow: 0 -1px 0 #444 inset;
}

.dark #container footer {
  border-color: #222;
}

.dark.right-sidebar {
  border-color: #222;
}

.dark.right-sidebar input {
  border-color: hsl(0, 0%, 36%);
  background-color: hsl(0, 0%, 22%);
  color: white;
}

.dark.meta-aside,
#container main section#home ul li aside,
#container main article aside {
  color: #666;
}

.dark table thead {
  background-color: #222;
}

.dark blockquote {
  border-left: solid 0.1em #222;
  background-color: #1a1a1a;
  box-shadow: 0 -1px 0 #333 inset;
}

body.light {
  color: #333;
  background-color: #f2f2f2;
}

.light a {
  color: #2c4c50;
}

.light h1, h2, h3, h4, h5, h6, time {
  color: #4c502c;
}

.light #container header h1 a {
  color: #4c502c;
}

.light #container nav {
  border-color: #d5cece;
}

.light #container header ul li a,
.light #container nav ul li a {
  color: #928888; /*#675b49;*/
}

.light #container nav ul li a.active {
  color: #50422c;
}

.light #container main section#home span {
  color: #666666;
}

.light #container main section#list ul li {
  border-color: #cecece;
}

.light #container main article pre,
.light #container main section pre {
  background-color: #f5f5f5;
  box-shadow: 0 -1px 0 #333 inset;
}

.light #container main article p code,
.light #container main section p code {
  background-color: #efeff6;
}

.light #container main article p kbd,
.light #container main section p kbd {
  color: #555555;
  background-color: #f5f5f5;
  border-color: #cccccc #cccccc #bbbbbb;
  box-shadow: 0 -1px 0 #444 inset;
}

.light #container footer {
  border-color: #d5cece;
}

.light.right-sidebar {
  border-color: #d5cece;
}

.light.right-sidebar input {
  background-color: hsla(0, 0%, 97%, 1);
  color: white;
}

.right-sidebar h3 {
    color: #777777;
}

