div#toggledark {
  display: flex;
  justify-content: right;
  align-items: right;
  position: absolute;
  right: 0;
  top: 0;
}

#toggledark button {
    display: flex;
    border: none;
    background-color: inherit;
}

#toggledark button:hover .moon,
#toggledark button:hover .sun {
  transform: rotate(30deg);
}

#toggledark .moon {
  color: #aaa;
  transform-origin: center center;
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transform: rotate(0);
}


/*
#toggledark .checkbox {
  opacity: 0;
  position: absolute;
}

#toggledark .ball {
  transition: var(--transition);
  background-color: var(--text-color);
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  height: 30px;
  width: 30px;
 }

#toggledark .sun {
  color: #e0d67c;
  transform-origin: center center;
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transform: rotate(0);
}

#toggledark .ball {
  transform: translatex(0);
}

.dark #toggledark .ball {
  transform: translatex(40px);
}
*/
