{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Archives{% endblock %}

{% block content %}
    <main>
        <section id="list">
            <h2>Archives for {{ SITENAME }}</h2>
            <ul>
                {% for article in dates %}
                    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                        <time>{{ article.locale_date }}</time>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
