{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ SITENAME|striptags }} - {{ article.title }}{% endblock %}
{% block head %}
{{ super() }}
  {% if article.summary %}
        <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
{% if article.keywords %}
    <meta name="keywords" content="{{article.keywords}}" />
{% endif %}
{% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
{% endfor %}
{% endblock %}
{% block content %}
<main>
    <article>
        <h1>{{ article.title }}</h1>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        <aside>
            <ul>
                <li>
                    <time datetime="{{ article.date|strftime('%Y-%m-%d') }}">{{ article.locale_date }}</time>
                </li>
                {% if article.modified %}
                <li>
                    <time datetime="{{ article.modified|strftime('%Y-%m-%d') }}">Modified
                        on {{ article.locale_modified }}</time>
                </li>
                {% endif %}
                {% if article.readtime %}
                <li>{{ article.readtime.minutes }} min read</li>
                {% endif %}
                {% if article.category and article.category != DEFAULT_CATEGORY %}
                <li>
                    Categories:
                    <a href="{{ SITEURL }}/{{ article.category.url }}"><em>{{ article.category }}</em></a>
                    {% endif %}
                </li>
                {% if article.tags %}
                <li>
                    Tags:
                    {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}"><em>#{{ tag }}</em></a>
                    {% endfor %}
                    {% endif %}
                </li>
            </ul>
        </aside>
        {{ article.content }}
    </article>
    <section class="post-nav">
        <div id="left-page">
            <div id="left-link">
                {% if article.next_article %}
                <div id="left-arrow"><i class="fa fa-chevron-circle-left"></i></div>
                <a href="{{ SITEURL }}/{{ article.next_article.url }}"> {{ article.next_article.title }}</a>
                {% endif %}
            </div>
        </div>
        <div id="right-page">
            <div id="right-link">
                {% if article.prev_article %}
                <a href="{{ SITEURL }}/{{ article.prev_article.url }}">{{ article.prev_article.title }} </a>
                <div id="right-arrow"><i class="fa fa-chevron-circle-right"></i></div>
                {% endif %}
            </div>
        </div>
    </section>
    {% if article.similar_posts %}
    <section class="similar-posts">
        <h1>Similar posts</h1>
        <ul>
        {% for similar in article.similar_posts %}
            <li><a href="{{ SITEURL }}/{{ similar.url }}">{{ similar.title }}</a></li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
</main>
{% endblock %}
