<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="generator" content="Pelican" />
        <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
        {% if AUTHOR %}
        <meta name="creator" content="{{AUTHOR|striptags}}">
        {% endif %}
        {% if SITESUBTITLE %}
        <meta name="subtitle" content="{{SITESUBTITLE|striptags}}">
        {% endif %}

        <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/{{ FAVICON|default('favicon.ico',true) }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya+Sans+SC|Ruda"/>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"/>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/toggledark.css"/>
        {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/
                    {% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
                  type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed"/>
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/
                    {% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
                  type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
        {% endif %}
        {% if STORK_DIR %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ STORK_DIR }}/css/basic.css">
        <link rel="stylesheet" media="screen and (prefers-color-scheme: dark)" href="{{ SITEURL }}/{{ STORK_DIR }}/css/dark.css">
        {% endif %}
    {% endblock head %}
</head>
<body>
<div id="container">
{% include 'toggledark.html' %}
    <header>
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
            <ul class="social-media">
                {% for name, link in SOCIAL %}
                    <li><a href="{{ link }}"><i class="fab fa-{{ name }} fa-lg" aria-hidden="true"></i></a></li>
                {% endfor %}
                {% if FEED_ALL_ATOM %}
                    <li><a href="{{ FEED_DOMAIN }}/
                            {% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
                           type="application/atom+xml" rel="alternate"><i class="fa fa-rss fa-lg"
                                                                          aria-hidden="true"></i></a></li>
                {% endif %}
                {% if FEED_ALL_RSS %}
                    <li><a href="{{ FEED_DOMAIN }}/
                            {% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
                           type="application/rss+xml" rel="alternate"><i class="fa fa-rss fa-lg" aria-hidden="true"></i></a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
        <p><em>{{ SITESUBTITLE }}</em></p>
    </header>
    <nav>
        <ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                    <li><a {% if p==page %} class="active" {% endif %}href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li><a {% if cat==category %}
                        class="active" {% endif %}href="{{ SITEURL }}/{{ cat.url }}"> {{ cat }} </a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    {% if STORK_DIR %}
    <div class="right-sidebar">
        <h3>Search:</h3>
        <input data-stork="sitesearch" />
        <div data-stork="sitesearch-output"></div>
    </div>
    {% endif %}
    <footer>
        <h6>
            Rendered by <a href="http://getpelican.com/">Pelican</a> &nbsp;&bull;&nbsp; Homemade theme <a
                href="https://gitlab.com/GullumLuvl/peli-cladonia">Peli-Cladonia</a>
                {% if AUTHOR %} &nbsp;&bull;&nbsp; {{ AUTHOR }} {% endif %}
        </h6>
    </footer>
</div>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/toggledark.js"></script>
{% if STORK_DIR %}
<script src="{{ SITEURL }}/{{ STORK_DIR }}/js/stork.js"></script>
<script>
    stork.initialize("{{ SITEURL }}/{{ STORK_DIR }}/js/stork.wasm")
    stork.downloadIndex("sitesearch", "{{ SITEURL }}/search-index.st")
    stork.attach("sitesearch")
</script>
{% endif %}
</body>
</html>
