{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - {{category}}{% endblock %}

{% block content %}
    <main>
        <section id="home">
            <h1>{{ category|capitalize }}</h1>
            <ul>
                {% for article in articles_page.object_list %}
                    <li>
                        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                        <aside>
                            <ul>
                                <li>
                                <time>{{ article.locale_date }}</time>
                                </li>
                            {% if article.readtime %}
                                <li>
                                    {{ article.readtime.minutes }} min read
                                </li>
                            {% endif %}
                        </ul>
                    </aside>
                    <p>
                        {{ article.summary }}
                        <a href="{{ SITEURL }}/{{ article.url }}"><em>Read more...</em></a>
                    </p>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </main>
{% endblock %}

