{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Categories{% endblock %}

{% block content %}
    <main>
	    <section id="list">
		    <h2>Articles by category </h2>
		        <ul>
                {% for category, articles in categories|sort %}
					<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
				{% endfor %}
		        </ul>
	    </section>
    </main>
{% endblock %}

