{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% if page.title %}
{% block title %}{{ SITENAME|striptags }} - {{ page.title|striptags }}{% endblock %}
{% endif %}

{% block head %}
{{ super() }}
  {% if page.summary %}
    <meta name="description" content="{{ page.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
  {%if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}" />
  {% endif %}
  {% if page.tags %}
    <meta name="tags" content="{{page.tags}}" />
  {% endif %}
{% endblock %}

{% block content %}
    <main>
        <section>
            <h1>{{ page.title }}</h1>
            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(page) }}
            {{ page.content }}
            {% if page.modified %}
                <p>
                Last updated: {{ page.locale_modified }}
                </p>
            {% endif %}
        </section>
     </main>
{% endblock %}
