{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Tags{% endblock %}

{% block content %}
    <main>
        <section id="list">
            <h2>Tags for {{ SITENAME }}</h2>
            <ul>
                {% for tag, articles in tags|sort %}
                    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
