<div id="toggledark">
    <script>
    function toggledark() {
        let oldstate = 'light';
        let newstate = 'dark';
        if (document.body.classList.contains('dark')) {
            oldstate = 'dark';
            newstate = 'light';
        }
        //document.body.classList.toggle('dark');
        document.body.classList.remove(oldstate);
        document.body.classList.add(newstate);
        // Remember user choice (3 months)
        const date = new Date();
        date.setTime(date.getTime() + 7948800000);  // unit is millisecond
        document.cookie = "darkmode=" + newstate + "; expires=" + date.toGMTString() + "; Path=/; SameSite=Lax"; 
    }
    </script>
    <button id="darkbutton" onclick="toggledark()">
    <svg class="moon" width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 11.5066C3 16.7497 7.25034 21 12.4934 21C16.2209 21 19.4466 18.8518 21 15.7259C12.4934 15.7259 8.27411 11.5066 8.27411 3C5.14821 4.55344 3 7.77915 3 11.5066Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    </svg></button>
</div>
